@import 'boilers';

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

//******************
// Global Variables
//******************

// Colors


//******************
// Main Styles
//******************

body {
  background: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
}
